<!DOCTYPE html>
<html>

{% load static %}
{% include 'shead.html' %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  {% include 'sheader.html' %}
  
  <!-- Left side column. contains the logo and sidebar -->
  {% include 'sleftbar.html' %}
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Dashboard
          
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </section>
 
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{pendingordercount.0.0}}</h3>

              <p>Pending Order</p>
            </div>
            <div class="icon">
              <i class="fa fa-hourglass-half"></i>
            </div>
            <a href="/staffapp/spendingorder" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{confirmordercount.0.0}}</h3>

              <p>Confirm Order</p>
            </div>
            <div class="icon">
              <i class="fa fa-thumbs-up"></i>
            </div>
            <a href="/staffapp/sconfirmorder" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{completeordercount.0.0}}</h3>

              <p>Complete Order</p>
            </div>
            <div class="icon">
              <i class="fa fa-check-square"></i>
            </div>
            <a href="/staffapp/scompleteorder" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{cancelordercount.0.0}}</h3>

              <p>Cancel Order</p>
            </div>
            <div class="icon">
              <i class="fa  fa-times"></i>
            </div>
            <a href="/staffapp/scancelorder" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{paymentcount.0.0}}</h3>

              <p>Payment</p>
            </div>
            <div class="icon">
              <i class="fa fa-credit-card"></i>
            </div>
            <a href="/staffapp/spayment" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>

        
       <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>{{usercount.0.0}}</h3>

            <p>User</p>
          </div>
          <div class="icon">
            <i class="fa  fa-user"></i>
          </div>
          <a href="/staffapp/suser" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>{{staffcount.0.0}}</h3>

            <p>Staff</p>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <a href="/staffapp/sstaff" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>{{feedbackcount.0.0}}</h3>

            <p>Feedback</p>
          </div>
          <div class="icon">
            <i class="fa  fa-comments"></i>
          </div>
          <a href="/staffapp/sfeedback" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      
      
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{productcount.0.0}}</h3>

              <p>Product</p>
            </div>
            <div class="icon">
              <i class="fa fa-th"></i>
            </div>
            <a href="/staffapp/sproduct" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>  

        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{subcategorycount.0.0}}</h3>

              <p>Subcategory</p>
            </div>
            <div class="icon">
              <i class="fa fa-th-large"></i>
            </div>
            <a href="/staffapp/ssubcategory" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{categorycount.0.0}}</h3>

          <p>Category</p>
        </div>
        <div class="icon">
          <i class="fa fa-bars"></i>
        </div>
        <a href="/staffapp/scategory" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
        
    </section>
   



    
    <!-- /.content end -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'sfooter.html' %}
  <!-- Control Sidebar -->
 
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
{% include 'sscript.html' %}

</body>
</html>
