          <!DOCTYPE html>
          <html>

          {% load static %}
          {% include 'shead.html' %}
          <body class="hold-transition login-page">
            <div class="login-box">
              <div class="login-logo">
                <img src="/media/logo2.png" height="90" width="140" style="border-radius: 10px; "></br>
               
              </div>
              <!-- /.login-logo -->
              <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>
            
                <form  method="post">
                  {% csrf_token %}
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Contact" name="s_contact">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                  </div>
                  <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" id="myInput" name="s_password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                  </div>
                  <div class="row">
                    <div class="col-xs-8" style="
                    margin-left: 20px;
                ">
                      <div class="checkbox icheck">
                        <label>
                          <input type="checkbox" onclick="myFunction()"> Show Password
                        </label>
                      </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                      <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                    
                  </div>
                  {% if msg != "" %}
                  <br/>
                          <div class="alert alert-danger">{{msg}}</div>
                          {% endif %}
                </form>
            
                <!-- /.social-auth-links -->
                <script>
                  function myFunction() {
                    var x = document.getElementById("myInput");
                    if (x.type === "password") {
                      x.type = "text";
                    } else {
                      x.type = "password";
                    }
                  }
                  </script>
              
            
              </div>
              <!-- /.login-box-body -->
            </div>
            <!-- /.login-box -->
            
            {% include 'sscript.html' %}
            </body>
            

          </html>
                            