<!DOCTYPE html>
<html>

{% load static %}
{% include 'shead.html' %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  {% include 'sheader.html' %}
  
  <!-- Left side column. contains the logo and sidebar -->
  {% include 'sleftbar.html' %}
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Pending Order

      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Pending Order</li>
      </ol>
    </section>
    <!-- Content start -->
    <section class="content">
      <div class="row">
        <!-- left column -->
     
        <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">View Order Details</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>ID</th>
                <th>User</th>
                <th>Staff</th>
                
                <th>Pincode</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Shippingaddress</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Updated Date</th>
                <th>Action</th>
                
              </tr>
              </thead>
              <tbody>
                {% for row in o_data %}    
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="center">{{row.11}}<br/><span class="label-info label label-default">{{row.12}}</span></td>
                    <td class="center">{{row.13}}<br/>{% if row.14 == '-' %} {% else %}<span class="label-info label label-default">{{row.14}}</span>{% endif %}</td>
                   
                    <td class="center">{{row.4}}</td>
                    <td class="center">{{row.5}}</td>
                    <td class="center">  ₹ {{row.6}}</td>
                    <td class="center">{{row.7}}</td>
                    <td class="center">
                      <a href="/staffapp/spendingorder?ord_id={{row.0}}&o_status={{row.8}}">
                        
                        <span class="label-{% if row.8 == 'Pending' %}warning{% elif row.8 == 'Confirm' %}info{% elif row.8 == 'Complete' %}success{% else %}danger{% endif %} label label-default">{{row.8}}</span>
                         </a>
                    </td>
                    <td class="center">{{row.9|date:'Y-m-d H:i:s'}}</td>
                    <td class="center">{{row.10|date:'Y-m-d H:i:s'}}</td>
                    <td class="center">
                      <a class="btn btn-info" href="/staffapp/scart?order_id={{row.0}}">
                        <i class="glyphicon glyphicon-edit icon-white"></i>
                        Order Details
                    </a>
                    
                      <a class="btn btn-danger" href="/staffapp/spendingorder?o_del={{row.0}}" onclick="return confirm('Are you sure you want to Delete..?');">
                          <i class="glyphicon glyphicon-trash icon-white"></i>
                          Delete
                      </a>
                  </td>
                   
                </tr>
                {% endfor %}
      
              </tbody>
              
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        
       </div>
      </div>
       </section>


    
    <!-- /.content end -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'sfooter.html' %}
  <!-- Control Sidebar -->
 
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
{% include 'sscript.html' %}

</body>
</html>
