<!doctype html>
<html class="no-js" lang="en">

{% load static %}
{% include 'uhead.html' %}

<body class="template-color-3">

    <div class="main-wrapper">

        <!-- Begin Hiraola's Header Main Area Three -->
        {% include 'uheader.html' %}
        <!-- Hiraola's Header Main Area Three End Here -->

       
        {% include 'ubanner.html' %}

<!--start-->
<style>
    .login-form input, .login-form textarea {
    width: 100%;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    color: #888888;
    margin-bottom: 15px;
}
</style>

<div class="hiraola-login-register_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                <!-- Login Form s-->
                <img class="img-full" src="{% static 'assets/images/about-us/4.png' %}"  alt="Hiraola's About Us Image" style="
                margin-top: -149px;
            ">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="login-form">
                        <h4 class="login-title">Forgot Password</h4>
                        <div class="row">
                           
                            <div class="col-md-12">
                                <label>Contact</label>
                                <input type="text" name="u_username" value="{{udata.0.2}}" placeholder="Enter Contact">
                            </div>

                            <div class="col-12">
                                <button class="hiraola-register_btn" type="submit">Show Password</button>
                            </div>
                            <br><br><br><br>
                            <p>You Already have an Account?  &nbsp;&nbsp;&nbsp;&nbsp;        <a href="/usignin">Signin</a></p>
                            {% if udata.0.5 != None %}
                            <div class="col-md-12">
                                <label>Password</label>
                                <input type="text" placeholder="Password" value="{{udata.0.5}}" name="u_password" id="myInput">
                                
                            </div>
                            {% endif %}
                            
                            
                        </div>
                        {% if msg != "" %}
                        <br/>
                            <div class="alert alert-danger">{{msg}}</div>
                            {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>		
<!--end-->
        <!-- Begin Hiraola's Footer Area -->
        {% include 'ufooter.html' %}
        <!-- Hiraola's Footer Area End Here -->
        <!-- Begin Hiraola's Modal Area -->
    
        <!-- Hiraola's Modal Area End Here -->

    </div>

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    {% include 'uscript.html' %}

</body>

</html>