{% load static %}


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Royal With Loyalty</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/media/logo2.png">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-stars.css' %}">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="{% static 'assets/css/ionicons.min.css' %}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.min.css' %}">
    <!-- Animation -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
    <!-- Timecircles -->
    <link rel="stylesheet" href="{% static 'assets/css/timecircles.min.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->

</head>
