{% load static %}

<div class="hiraola-slider_area-2 hiraola-slider_area-3 color-white">
    <div class="main-slider">
        <!-- Begin Single Slide Area -->
        <div class="single-slide animation-style-01 bg-6">
            <div class="container">
                <div class="slider-content slider-content-2">
                    <h4>Jewellery That Tells Your Story in Every Glittering Moment.<span></span> </h4>
                    <h2></h2>
                    <h3></h3>
                    <h4> <span></span></h4>
                    <div class="hiraola-btn-ps_center slide-btn">
                        <a class="hiraola-btn" href="uproduct">Shopping Now</a>
                    </div>
                </div>
                <div class="slider-progress"></div>
            </div>
        </div>
        <!-- Single Slide Area End Here -->
        <!-- Begin Single Slide Area -->
        <div class="single-slide animation-style-02 bg-7">
            <div class="container">
                <div class="slider-content">
                    <h3>Crafting Timeless Beauty, One Sparkle at a Time.<span></span></h3>
                    <h5> </h5>
                    <h3></h3>
                    <h4><span></span></h4>
                    <div class="hiraola-btn-ps_center slide-btn">
                        <a class="hiraola-btn" href="uproduct">Shopping Now</a>
                    </div>
                </div>
                <div class="slider-progress"></div>
            </div>
        </div>
        <!-- Single Slide Area End Here -->
    </div>
</div>