{% load static %}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src='{% static "dist/img/" %}{{request.session.img}}' class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{request.session.name}}</p>
         
        </div>
      </div>
      <!-- search form -->
  
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
     
        <li class="active">
          <a href="/adminapp">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
         
          </a>
         
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Order</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/adminapp/pendingorder"><i class="fa fa-hourglass-half"></i> Pending</a></li>
            <li><a href="/adminapp/confirmorder"><i class="fa fa-thumbs-up"></i> Confirm</a></li>
            <li><a href="/adminapp/completeorder"><i class="fa fa-check-square"></i> Complete</a></li>
            <li><a href="/adminapp/cancelorder"><i class="fa  fa-times"></i> Cancel</a></li>
          </ul>
        </li>
        <li>
          <a href="/adminapp/payment">
            <i class="fa  fa-credit-card"></i>
            <span>Payment</span>
          
          </a>
     
        </li>
        <li>
          <a href="/adminapp/user">
            <i class="fa  fa-user"></i>
            <span>User</span>
          
          </a>
     
        </li>
        <li>
          <a href="/adminapp/staff">
            <i class="fa fa-users"></i>
            <span>Staff</span>
          
          </a>
     
        </li>
        <li>
          <a href="/adminapp/feedback">
            <i class="fa fa-comments"></i>
            <span>Feedback</span>
          
          </a>
     
        </li>
        <li>
          <a href="/adminapp/product">
            <i class="fa fa-th"></i>
            <span>Product</span>
          
          </a>
     
        </li>
        <li>
          <a href="/adminapp/subcategory">
            <i class="fa fa-th-large"></i>
            <span>Subcategory</span>
          
          </a>
     
        </li>
        <li>
          <a href="/adminapp/category">
            <i class="fa fa-bars"></i>
            <span>Category</span>
          
          </a>
     
        </li>
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Report</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/adminapp/orderreport"><i class="fa fa-circle-o"></i> Order</a></li>
            <li><a href="/adminapp/userreport"><i class="fa fa-circle-o"></i> User</a></li>
            <li><a href="/adminapp/feedbackreport"><i class="fa fa-circle-o"></i> Feedback</a></li>
            <li><a href="/adminapp/paymentreport"><i class="fa fa-circle-o"></i> Payment</a></li>
            <li><a href="/adminapp/productreport"><i class="fa fa-circle-o"></i> Product</a></li>
          </ul>
        </li>

        <li>
          <a href="/adminapp/logout">
            <i class="fa  fa-power-off"></i>
            <span>Logout</span>
          
          </a>
     
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>